<div class="header">
    <div class="header-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Sun_-_Lorc_-_game-icons.svg" /> <br/>
        <strong>SocMed</strong>
    </div>

    <div class="header-search">
        <form>
            <input type="text" />
            <input type="submit" value="Search" />
        </form>
    </div>

    <div class="header-profile">
       <a href="/add"><strong>Add Post</strong></a>
    </div>
</div>
