<!DOCTYPE html>
<html>
<head>
    <title>Social Media Clone</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    {{> header}}  <!-- Include the header partial -->

    <div class="container">
        {{{body}}}  <!-- Insert page content here -->
    </div>

    {{> footer}}
</body>
</html>
